body {
    margin: 0;
    padding: 0;
    font-family: 'Dela Gothic One', serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background: repeating-linear-gradient(
        45deg,
        #a7000077,
        #a7000077 10px,
        #00910081 10px,
        #00910081 20px
    );
    animation: moveBg 20s linear infinite;
}

@keyframes moveBg {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 200% 200%;
    }
}

.countdown {
    text-align: center;
    background-color: #00000062;
    padding: 20px;
    border-radius: 20px;
    color: #fcd53f;
    z-index: 1;
}

#timer {
    font-size: 2em;
}

.forest {
    position: absolute;
    bottom: 3%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 0; /* Убираем расстояние между елками */
    z-index: 0;
    align-items: flex-end;
}

.sky {
    position: absolute;
    bottom: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 0; /* Убираем расстояние между облаками */
    z-index: 0;
    align-items: flex-end;
}

.tree {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cloud {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tree .emoji {
    font-size: calc(2em + 1vw); /* Адаптивный размер эмодзи */
}

.small .emoji {
    font-size: 2em;
}

.medium .emoji {
    font-size: 5em;
}

.large .emoji {
    font-size: 7em;
}

.snowflake {
    position: absolute;
    top: -10px;
    z-index: 0;
    user-select: none;
    pointer-events: none;
    animation: snow 10s linear infinite;
}

@keyframes snow {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100vh);
    }
}
